<%- include("partials/header"); -%>

    <center>
        <h1>Contact</h1>
        <br>

        <!-- <p>
            <%=contactContent%>
        </p> -->

        <h4>Name: Kishor Kumar Parida</h4>
        <h4>Email: kisorparida@gmail.com</h4>
        <h4>Phone: 8409406665</h4>
        <br><br><br><br><br>

        <h1>Thank You For Visiting Our Site</h1>
    </center>


    <%- include("partials/footer"); -%>